body {

    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
    margin: 0;
    padding: 0;
    color: #9dbd9d;
    background-position: center;
}

header {
    background-color: #e2e0dc;
    color: rgb(114, 98, 98);
    padding: 10px 0;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: right;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 20px;
    color: black;
    font-size: larger;
}
h1{
    text-align: center;
    color: #000;
    
}
section{
    background-color:black;
    width:"1000px";
    height:"500px";

}
h2{ background: url('work.jpg') no-repeat center center/cover;
    height: 400px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
html{
    background-color: #bccdce;
}
nav li:first-child{
    margin-right: auto;
    }
    footer{
        text-align: center;
        color: rgb(15, 16, 17);
    }

h2 {
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
    }



    




